<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gesture Recognition</title>
</head>
<style >
    .btn{
        background-color: aqua;
        color: black;
    }
</style>
<body>
    <!-- <button class="btn">Click to access camera</button> -->
    <div>
        <h2>Hand Recognition Camera</h2>
    </div>
    <button class="btn" id="startCamera">Click to start camera</button>
    <script>
        const videoElement = document.getElementById('webcamFeed'); // Replace with your video element's ID
        const startCameraButton = document.getElementById('startCamera');
      
        startCameraButton.addEventListener('click', async () => {
          try {
            const stream = await navigator.mediaDevices.getUserMedia({ video: true });
            videoElement.srcObject = stream;
          } catch (error) {
            console.error('Error accessing camera:', error);
            // Handle access denial or other errors
          }
        });
      </script>
      
</body>
</html>